@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0b1320;
  background-color: #f8fafc;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: linear-gradient(180deg, #f8fafc 0%, #eef2ff 100%);
}

.card-glass {
  @apply bg-white/80 backdrop-blur-md border border-slate-100 shadow-lg;
}
